body {
    margin: 0 auto;
    width: 60vw;
}
.logo {
    height: 12vw;
    width: 100%;
}
main h1 {
    margin: 50px 0;
}
footer {
    border-top: 2px solid #000;
    margin: 50px 0;
    padding: 20px;
    text-align: center;
}



@media screen and ( max-width:500px )
{
    body {
        width: 90%;
    }
    .logo {
        height: 20vw;
        width: 100%;
    }
    h1 {
        font-size: 24px;
    }
}